<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Weldon's Blog and Portfolio">
    <meta name="author" content="Weldon Malbrough">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css?q=1280549780') }}">

    {% if title %}
    <title> {{ title }} - Weldon's Blog </title>
    {% else %}
    <title>Welcome to Weldon's Blog</title>
    {% endif %}
</head>
<body>
    <header><div><a href="/login">Login</a></div></header>
    <div>Blog: 
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></div></li>
        </ul>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>